<div class="footer">
  <div class="lists-wrapper">
    <ul class="footer-list footer-list1">
      <li class="address">
        <div>
          <img src="/Images/Icons/location.png" alt="" />
        </div>
        <span>Алматы, ул. Примерова 21</span>
      </li>
      <li class="contact">
        <div>
          <img src="/Images/Icons/call.png" alt="" />
        </div>
        <span>8 707 707 70 77</span>
      </li>
      <li class="instagram">
        <div>
          <img src="/Images/Icons/instagram.png" alt="" />
        </div>
        <span>mebelshik_almaty</span>
      </li>
    </ul>

    <ul class="footer-list footer-list2">
      <li class="schedule">
        <div>
          <img src="/Images/Icons/clock.png" alt="" />
        </div>
        <span>Пнд - Птн, 9:00 - 18:00</span>
      </li>
      <li class="break">
        <div>
          <img src="/Images/Icons/coffee-cup-2.png" alt="" />
        </div>
        <span>13:00 - 14:00</span>
      </li>
      <li class="mail">
        <div>
          <img src="/Images/Icons/mail.png" alt="" />
        </div>
        <span>help@mebelshik.kz</span>
      </li>
    </ul>
  </div>
  <!-- lists-wrapper -->

  <div class="copyright">
    &copy; Мебельщик, <span id="year"></span>
  </div>
</div>