<div class="header">
  <div class="searchbar">
    <img class="search-icon" src="/Images/Icons/search.png" alt="" />
    <input
      type="text"
      id="search-input"
      placeholder="Я ищу..."
      autocomplete="off"
      data-search
    />
  </div>

  <a href="/" class="logo-link">
    <div class="logo">
      <img src="/Images/Icons/logo.png" alt="" />
      <h1>МЕБЕЛЬЩИК</h1>
    </div>
  </a>

  <a href="/cart" class="cart-link" data-count = "<%= items.length %>">
    <img class="cart-icon" src="/Images/Icons/bag.png" alt="" />
  </a>
</div>