<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <script src="main.js" defer></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/" class="logo-link">
          <div class="logo">
            <img src="Images/Icons/logo.png" alt="" />
            <h1>МЕБЕЛЬЩИК</h1>
          </div>
        </a>
      </div>

      <div class="main-404">
        <h1>Ваш заказ принят, спасибо за покупку!</h1>
        <h3>В ближайшее время с вами свяжется наш менеджер.</h3>
        <a href="/">
          <button class = "create-button">На главную</button>
        </a>
      </div>

      <div class="footer">
        <div class="lists-wrapper">
          <ul class="footer-list footer-list1">
            <li class="address">
              <div>
                <img src="/Images/Icons/location.png" alt="" />
              </div>
              <span>Алматы, ул. Примерова 21</span>
            </li>
            <li class="contact">
              <div>
                <img src="/Images/Icons/call.png" alt="" />
              </div>
              <span>8 707 707 70 77</span>
            </li>
            <li class="instagram">
              <div>
                <img src="/Images/Icons/instagram.png" alt="" />
              </div>
              <span>mebelshik_almaty</span>
            </li>
          </ul>
      
          <ul class="footer-list footer-list2">
            <li class="schedule">
              <div>
                <img src="/Images/Icons/clock.png" alt="" />
              </div>
              <span>Пнд - Птн, 9:00 - 18:00</span>
            </li>
            <li class="break">
              <div>
                <img src="/Images/Icons/coffee-cup-2.png" alt="" />
              </div>
              <span>13:00 - 14:00</span>
            </li>
            <li class="mail">
              <div>
                <img src="/Images/Icons/mail.png" alt="" />
              </div>
              <span>help@mebelshik.kz</span>
            </li>
          </ul>
        </div>
        <!-- lists-wrapper -->
      
        <div class="copyright">
          &copy; Мебельщик, 2012-2022
        </div>
      </div>
      <!-- footer -->
    </div>
    <!-- wrapper -->
  </body>
</html>
